<html ng-app="demo">
  <head>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="guble.js"></script>
    <script src="demo.js"></script>
  </head>
  <body ng-controller="demoCtrl">
    
    <br><br>
    <div class="container" style="max-width: 500px">

      <br>
      <h1>Nachricht</h1>
      <div class="container" style="max-width: 500px">
        <form role="form">
          <div class="form-group">
            
            <div class="btn-group" role="group">
            </div>

            <label for="type">Typ:</label>
            <button  ng-repeat="pre in predefinedMessages" type="button" class="btn btn-default" ng-click="setMessage(pre)">{{substr(pre.data.title)}}</button>

            <br>
            <br>
            <br>
           
            <input type="radio" ng-model="message.data.link" value="" id="common">
            <label for="common">Allgemein</label>
            <br>
            <input type="radio" ng-model="message.data.link" value="einkaufsliste" id="einkaufsliste">
            <label for="einkaufsliste">Einkaufsliste</label>
            <br>
            <input type="radio" ng-model="message.data.link" value="payback" id="payback">
            <label for="payback">Payback</label>
            <br>
            <input type="radio" ng-model="message.data.link" value="angebote" id="angebote">
            <label for="angebote">Angebote</label>

            <br>
            <label for="titel">Titel:</label>
            <input type="text" class="form-control" id="titel" ng-model="message.data.title" >
            <label for="titel">Text:</label>
            <textarea class="form-control" ng-model="message.data.message" style="height: 140px;"></textarea>
          </div>
          <button type="submit" class="btn btn-default pull-right" ng-click="send(message)">Submit</button>
        </form>

      </div>
      <div class="container" style="max-width: 500px">

        <hr/>
        <form role="form">
          <div class="form-group">
            <label for="titel">Server:</label>
            <input type="texr" class="form-control" id="titel" ng-model="serverUrl">
          </div>
          <button type="submit" class="btn btn-default pull-right" ng-click="reconnect()">Reconnect</button>
        </form>

      </div>

  </body>  
</html>
